<p class="caption">{{ caption }}</p>
<table class="regulatory-table">
    <thead>
        <tr>
            <th style="width: 5%;">No</th>
            <th style="width: 33%;">Particulars</th>
            <th>MYT Order dated<br>25.06.2022<br>({{ unit_label }})</th>
            <th>Actual<br>({{ unit_label }})</th>
            <th>Sought for TU<br>({{ unit_label }})</th>
            <th>Deviation from approval<br>({{ unit_label }})</th>
        </tr>
    </thead>
    <tbody>{{ body }}</tbody>
</table>
